# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build Process

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
env:
  CODE_LOCATION: src/
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x
      - name: Restore dependencies
        run: dotnet restore
        working-directory: "${{env.CODE_LOCATION}}"
      - name: Restore tools
        run: dotnet tool restore
        working-directory: "${{env.CODE_LOCATION}}"
      - name: Output Anticipated Version Number
        run: dotnet minver -t v -v e -d preview
        working-directory: "${{env.CODE_LOCATION}}"
      - name: Build
        run: dotnet build --no-restore
        working-directory: "${{env.CODE_LOCATION}}"
      - name: Test
        run: dotnet test --no-build --verbosity normal
        working-directory: "${{env.CODE_LOCATION}}"
